<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Jayseeker</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
<div class="navbar navbar-default navbar-static-top" role="navigation" style="background-color: rgb(0, 81, 186); border-bottom: 1px rgb(0, 81, 186);">
     <div class="container" style="width: 100%;">
        <div class="navbar-header" style="padding-left: 1%;">
        <a class="navbar-brand" href="/" style="font-weight: bold; color: white;">The University of Kansas</a>
        </div>
        <ul class="nav navbar-nav navbar-right" style="padding-right: 2%;">
        <li><a href="/home" style="color: white;">Browse</a></li>
        <li><a href="/about" style="color: white;">About KU</a></li>
        <li><a href="/contact" style="color: white;">Contact</a></li>
        </ul>
    </div>
</div>
 
<div class="container">