<%- include ("../_partial/_header.ejs"); %>
<style>
    html, body {
      height: 100%;
      background-color: #d9d9d9;
      background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);
      background-repeat:no-repeat;
      background-attachment: fixed;
    }
</style>
<div style="width: 50%; float: left;">
    <h1 style="font-weight: bold; color: darkred; padding-bottom: 8%;">About KU</h1>
    <div>
        <h4 style="line-height: 1.6; font-weight: bold;">In 1866, the University of Kansas welcomed the first class of 55 students to an unfinished building on a treeless ridge called Mount Oread.</h4>
        <h4 style="line-height: 1.6; font-weight: bold;">Today, our enrollment sits at 28,500. From that single building, we have grown to five campuses — the Lawrence campus, the Edwards Campus in Overland Park, and medical branches in Kansas City, Wichita, and Salina. The once barren landscape has grown into a wooded campus considered one of the most beautiful in the nation.</h4>
        <h4 style="line-height: 1.6; font-weight: bold;">We embrace our role as the states flagship university and a premier research institution, serving the state, nation, and world. We celebrate the energy and compassion that infuse the Jayhawk spirit. And we remain true to our historic values: the elevating force of education, the transformative power of research, and the healing power of service.</h4>
    </div>
</div>
<div style="width: 45%; float: right;">
    <h2 style="display: block; text-align: center; font-weight: bold; color: darkred;">Founded in 1865</h2>
    <img style="display: block; width: 60%; margin-left: 22%;" src="https://kuhistory.ku.edu/sites/kuhistory.drupal.ku.edu/files/images/legacy/2011/12/10222001_03.jpg" alt="Bailey's Barn">
    <h2 style="display: block; text-align: center; font-weight: bold; color: darkred; margin-right: -5%;">Home of the Jayhawks</h2>
    <img style="display: block; width: 80%; margin: auto; margin-right: 7%;" src="https://kuathletics.com/wp-content/uploads/2019/05/d1d8e55e458fe035afbe1ff3128dca08.jpg" alt="kansas-jayhawks-logo">
    <h2 style="display: block; text-align: center; font-weight: bold; color: darkred; margin-right: -5%;">Locations</h2>
    <div style="margin-right: -6%;">
    <h4 style="text-align: center; font-weight: bold;">Lawrence Campus</h4>
    <h4 style="text-align: center; font-weight: bold;">Overland Park Edwards Campus</h4>
    <h4 style="text-align: center; font-weight: bold;">Kansas City Medical Campus</h4>
    <h4 style="text-align: center; font-weight: bold;">Wichita Medical Campus</h4>
    <h4 style="text-align: center; font-weight: bold;">Saline Medical Campus</h4>
</div>
</div>
<%- include ("../_partial/_footer.ejs"); %>