<%- include ("../_partial/_header.ejs"); %>
<div id="container">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    #searchParam {
      padding-left: 20%;
      font-size: x-large;
    }
    #degreeSearch {
      margin-right: 3%;
      font-size: large;
    }
    html, body {
      height: 100%;
      background-color: #d9d9d9;
      background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);
      background-repeat:no-repeat;
      background-attachment: fixed;
    }
    #title {
      font-weight: bold; 
      color: darkred;
    }
    #searchButton {
      background-color: rgb(0, 81, 186);
      color: white;
    }
  </style>
  <div>
    <source>
    <h1 id="title">KU Degree Search: </h1>
    <br >
    <br >
    <body>
    <form method="post" action="/degreeSearchQuery">
        <span id="searchParam" for="degreeSearchParam">Search for degree by: </span>
        <select name="degreeSearchParam[]" id="degreeSearch">
          <option value="DEGREE_NAME">Degree Name</option>
          <option value="DEGREE_DESC">Degree Description</option>
          <option value="All">Keyword (All)</option>
        </select>
        <input id="searchInput" type="text" name="degreeSearchQuery[]" placeholder="Search" pattern="^[a-zA-Z0-9 ]+" oninvalid="setCustomValidity('Alphanumeric characters only! (╯°□°)╯︵ ┻━┻')">
        <input type="submit" value="Search" id="searchButton">
        </form>
    </body>
    <br >
    <br >
    <% if(locals.returnResult) { %>
        <% for (var i=0; i < returnResult.length; i++ ) { %>
            <br>  
            <h4 style="font-weight: bold;"><%= returnResult[i][0] %></h4>
            <h4 style="font-size: medium;"><%= returnResult[i][1] %></h4>
            <br>
        <% } %>
    <% } %>
    <br>
</div>
<%- include ("../_partial/_footer.ejs"); %>